.MainGame{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color:#263238;
    }
    
.GameZone{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 500px;
    background-color: red;
}

.containerDraw{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: #D1C4E9;
    border: 2px solid #D1C4E9;
}

.buttons{ 
    margin-left: 1px;
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons img{
    margin-bottom: 15px;
    width: 25px;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
}

.img-start{
    margin-top: 14px;
}